body {
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    height: 100vh;
    place-items: center;
    background-color: cadetblue;
}

.game {
    display: grid;
    grid-template-columns: repeat(10,auto);
    border: 5px solid #888;
    background-color: #111;
}

.tile {
    width: 20px;
    height: 20px;
}
