body {
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    height: 100vh;
    place-items: center;
    background-color: cadetblue;
    align-content: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(10,auto);
    border: 5px solid #888;
    background-color: #111;
}

.tile {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.showNext {
    display: grid;
    grid-template-columns: repeat(5,auto);
    border: 5px solid #888;
    background-color: #111;
}

h3 {
    line-height: .1;
}

.o { background-color: gold; border: 2px inset gold}
.s { background-color: forestgreen; border: 2px inset forestgreen}
.z { background-color: crimson; border: 2px inset crimson}
.l { background-color: orange; border: 2px inset orange}
.i { background-color: deepskyblue; border: 2px inset deepskyblue}
.j { background-color: dodgerblue; border: 2px inset dodgerblue}
.t { background-color: mediumpurple; border: 2px inset mediumpurple}

.keyCapturer {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    color: cadetblue;
    background-color: cadetblue;
}

.keyCapturer:focus {
    outline: none;
}
