body {
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    height: 100vh;
    place-items: center;
    background-color: cadetblue;
}

.game {
    display: grid;
    grid-template-columns: repeat(10,auto);
    border: 5px solid #888;
    background-color: #111;
}

.tile {
    width: 20px;
    height: 20px;
}

.o { background-color: gold;}
.s { background-color: forestgreen; }
.z { background-color: crimson; }
.l { background-color: orange; }
.i { background-color: deepskyblue; }
.j { background-color: dodgerblue; }
.t { background-color: mediumpurple; }

.keyCapturer {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    color: cadetblue;
    background-color: cadetblue;
}

.keyCapturer:focus {
    outline: none;
}
